# --- PlatformIO / ESP32 ---
.pio/
.vscode/
esp32-esp8266/lib/
esp32-esp8266/include/README
esp32-esp8266/platformio.ini

# --- Backend Python (Flask) ---
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/motion.db
backend/*.log

# --- Frontend React ---
frontend/node_modules/
frontend/dist/

# --- Tests? ---
test/

# --- Generak ---
.DS_Store
*.log
